*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
example/android/.gradle
example/android/.idea
example/build
example/.flutter-plugins
example/.packages
.packages
android/local.properties
android/build
android/build/intermediates
android/build/generated
*.lock
android/.gradle
example/ios/Runner.xcworkspace/xcuserdata/
.dart_tool/
example/.dart_tool/
example/.flutter-plugins-dependencies

